// Plain Colors
$foreground-color: #3399cc;
$background-color: #2ecc71;
$primary-bg: #0a3449;

$color1: $foreground-color;
$color2: $background-color;

$lighten25: lighten($color1, 25%);
$darken25: darken($color1, 25%);
$lighten50: lighten($color1, 50%);
$darken50: darken($color1, 50%);
$lighten75: lighten($color1, 50%);
$darken75: darken($color1, 50%);

$complement1: complement($color1);
$complement2: complement($color2);
