@font-face {
  font-family: FontawesomeSolid;
  src: url('https://kit-free.fontawesome.com/algo/1/webfonts/fa-solid-900-free-5.5.0.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FontawesomeRegular;
  src: url('https://kit-free.fontawesome.com/algo/1/webfonts/fa-regular-400-free-5.5.0.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

$primary: #1abc9c;

.weather {
  overflow: hidden;
  line-height: 1.15;
  font-size: 15x;
  display: flex;
  flex-direction: column;
  // background: lighten($primary, 10%);

  .flexb {
    width: 50%;
    height: 50%;
    margin: 0.5rem auto;
    border: 1px solid $primary;
  }
  tr {
    color: white;
    background: lighten($primary, 10%);
    display: grid;
    overflow: hidden;
    grid-template-columns: 0.5fr 1fr;
    &:hover {
      background: darken($primary, 11%);
    }
  }

  td {
    padding: 0 0.25rem;
    text-align: center;
  }
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    &:hover {
      color: $primary;
    }
  }
  .date-style {
    font-family: sans-serif;

    &:hover {
      color: lighten($primary, 10%);
    }
  }
  .date {
    font-size: 1.5em !important;
    text-transform: uppercase;
    color: darken($primary, 20%);
  }
  .day {
    text-transform: uppercase;
    display: block;
    overflow: hidden;
  }
}

@media (min-width: 501px) {
  .weather {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    .flexb {
      margin: 0.5rem 0.25rem;
      overflow-y: hidden;
    }
    tr {
      display: flex;
      flex-direction: column;
    }

    .col {
      flex-direction: column;
      display: flex;
      flex-wrap: wrap;
    }
    .day {
      font-size: 80%;
    }
  }
}

#req1 {
  display: none;
}

.temperature {
  font-size: 1.4em;
  margin: 1rem 0;
  &:before {
    content: '\f76b';
    color: darken($primary, 20%);
    display: block;
  }
  &:hover {
    color: lighten($primary, 10%);
  }
}
*:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: FontawesomeSolid, FontawesomeRegular;
}
