* {
  box-sizing: border-box;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: SF Mono, fira code;
  font-weight: 600;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  margin: 5vh 5vh;
  display: flex;
}
.container .page-contents {
  order: 2;
  flex-grow: 2;
  box-shadow: inset 0 0 0 4px #222;
  padding: 1rem 1.5rem;
  height: 80vh;
  overflow: scroll;
}
.container .menu {
  height: 80vh;
  margin: 0;
  padding-right: 1.25rem;
}
.container .menu a {
  color: #000;
  font-size: 1.25em;
  box-shadow: inset 0 -4px #2ecc71;
  text-transform: lowercase;
  margin-bottom: 0.75rem;
  display: table;
  padding: 0;
  text-decoration: none;
}
.container .menu a:hover {
  box-shadow: inset 0 -4px #ec5f67;
}
.references ul {
  margin: 0;
  font-size: 0.7em;
  padding: 0.5rem 0;
}
header {
  height: 5vh;
}
