.todo {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;

  .sm-form {
    display: inline-block;
    border: 2px solid #222;

    button {
      width: 50px;
      color: white;
      background: #222;
      &:hover {
        background: lighten(#222, 20%);
        transition: 100ms linear;
      }
    }
    input {
      outline: 0;
      border: 0;
      box-shadow: 0;
    }
  }

  .delete-button svg {
    fill: transparent;
    width: 10px !important;
    height: 10px !important;
    opacity: 0.7;
    &:hover {
      fill: #e74c3c !important;
    }
  }

  .todoitem {
    max-width: 50vw;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    counter-increment: counter;
    margin: 15px 0;
    font-style: normal;
    &:before {
      content: counter(counter) '.';
      margin-right: 10px;
    }
    &.done {
      text-decoration-line: line-through !important;
      color: #888;
      &:hover {
        color: #222;
        text-decoration-line: none !important;
      }
    }

    &:hover {
      font-style: italic;
    }
  }

  .form-check {
    margin: 0;
    padding: 0;
  }
}
