.todo {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.todo .sm-form {
  display: inline-block;
  border: 2px solid #222;
}
.todo .sm-form button {
  width: 50px;
  color: white;
  background: #222;
}
.todo .sm-form button:hover {
  background: #555555;
  transition: 100ms linear;
}
.todo .sm-form input {
  outline: 0;
  border: 0;
  box-shadow: 0;
}
.todo .delete-button svg {
  fill: transparent;
  width: 10px !important;
  height: 10px !important;
  opacity: 0.7;
}
.todo .delete-button svg:hover {
  fill: #e74c3c !important;
}
.todo .todoitem {
  max-width: 50vw;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  counter-increment: counter;
  margin: 15px 0;
  font-style: normal;
}
.todo .todoitem:before {
  content: counter(counter) '.';
  margin-right: 10px;
}
.todo .todoitem.done {
  text-decoration-line: line-through !important;
  color: #888;
}
.todo .todoitem.done:hover {
  color: #222;
  text-decoration-line: none !important;
}
.todo .todoitem:hover {
  font-style: italic;
}
.todo .form-check {
  margin: 0;
  padding: 0;
}
