$yellow: darken(#f1c40f, 2%);
$blue: darken(#2980b9, 2%);
$base: #222;

#clock {
  display: block;
  user-select: none;
  padding: 5rem 0;

  .ampm {
    margin: 0 0.25rem;
    border: 1px solid gray;

    &:hover {
      transform: translateY(2px);
    }
  }

  .time-button {
    font-size: 3em;
    width: 70px;
    margin: 0.25rem;
    outline: 0;
    border-color: white;
    border-width: 1px;
    border-style: solid;

    &:hover {
      transition: all 400ms ease-out;
      transform: translateY(2px);
    }
  }

  .blinking {
    padding: 0.25rem;
    font-size: 3em;
    animation: blinker 1100ms linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}

.time-0 {
  .clock {
    background: $yellow;
  }
}

.time-1 {
  .clock {
    background: $blue;
  }
}
